name: control_repository

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/control_repository.yaml"
      - "packages/control_repository/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "packages/control_repository/**"

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_channel: stable
      working_directory: packages/control_repository
