name: gyver_lamp_client

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/gyver_lamp_client.yaml"
      - "packages/gyver_lamp_client/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "packages/gyver_lamp_client/**"

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_channel: stable
      working_directory: packages/gyver_lamp_client
