name: gyver_lamp

on: [pull_request, push]

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_channel: stable
      working_directory: .
      coverage_excludes: 'packages/**/*.dart lib/l10n/arb/*.dart'