name: settings_controller

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/settings_controller.yaml"
      - "packages/settings_controller/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "packages/settings_controller/**"

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_channel: stable
      working_directory: packages/settings_controller
